@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Montserrat", serif;
  /* font-family: "Montserrat", system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #180d49;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}

li {
  font-family: "Montserrat", serif;
}

.ewallet-card {
  z-index: 999;
}

.slider-container {
  z-index: 0;
}

/* .slick-dots li.slick-active button:before {
  color: orange !important;
}

.slick-dots li button:before {
  color: orange !important;
  font-weight: bold;
  width: 200px;
} */

/* Home Hero Slider */

.slick-dots li button:before {
  color: gray !important;
  font-weight: bold !important;
  font-size: 0px !important;
  display: inline-block !important;
  transition: all cubic-bezier(0.5, 0, 0.07, 1) 0.5s;
  width: 12px !important;
  padding: 2px !important;
  height: 12px !important;
  border-radius: 12px;
  line-height: 16px !important;
  text-align: center !important;
  /*border-radius: 50%;
  */
  background-color: white !important;
}

.slick-dots li.slick-active button:before {
  color: gray !important;
  font-weight: bold !important;
  font-size: 0px !important;
  display: inline-block !important;
  padding: 2px !important;
  width: 42px !important;
  border-radius: 12px;
  height: 12px !important;
  line-height: 16px !important;
  text-align: center !important;
  /*border-radius: 50%;
  */
  background-color: white !important;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

/* End Home Hero Slider */

/* Gallery Slider CSS */
.slider {
  background: rgba(24, 13, 73, 0.1);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 80vw;
  position: fixed;
  padding-top: 320px;
  top: 2%;
  left: 10%;
  border-radius: 12px;
  margin: 100px auto;
  filter: drop-shadow(0rem 0rem 0.1rem black);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  -webkit-filter: drop-shadow(0rem 0rem 0.1rem black);
}

.slider img.thumb {
  position: absolute;
  top: 8%;
  left: 18%;
  margin-top: 20px;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -webkit-box;
  background-position: center;
  object-fit: cover;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.slider > img.pagination {
  position: absolute;
  left: 0;
  top: 0;
  right: 24%;
  height: 800px;
  width: 1300px;
  transition: all 0.5s;
}

.slider input[name="slide_switch"] {
  display: none;
}

.slider label {
  margin: 20px 0 32px 12px;
  width: 120px;
  height: 70px;
  object-position: cover;
  float: left;
  cursor: pointer;
  transition: all 0.5s;
  opacity: 0.6;
}

.slider label img {
  border-radius: 12px;
  margin-top: 7.5rem;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-position: center;
  object-fit: cover;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.slider input[name="slide_switch"]:checked + label {
  border-color: #666;
  opacity: 1;
}

.slider input[name="slide_switch"] ~ img {
  opacity: 0;
  transform: scale(1.1);
}

.slider input[name="slide_switch"]:checked + label + img {
  opacity: 1;
  transform: scale(1);
}

/* End Gallery Slider CSS */

/* More Game Slider */

.more-game-container {
  height: 500px;
  display: flex;
  justify-content: start;
  align-items: start;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  white-space: nowrap;
  touch-action: pan-x;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  overflow-y: hidden;
  margin-inline: 20px;
  scrollbar-width: none;
}

.more-game-container::-webkit-scrollbar {
  display: none;
}

.more-game-slider {
  display: flex;
  width: calc(600px * 3); /* Total width for all slides */
}

.more-game-slide {
  flex: 0 0 100px; /* Each slide takes up 100% of the container width */
  height: 100%;
  scroll-snap-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

/* End More Game Slider */
